@import '../index';

.remove-all-product {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover svg path {
    stroke: darken($secondary, 25%);
  }
}

.product-card {
  display: grid;
  grid-template-columns: 60px 292px 135px auto auto;
  column-gap: 20px;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid $menu-blue;
  }

  &:not(:first-child) {
    padding-top: 20px;
  }

  &__quantity {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid $menu-blue;
    border-radius: 100px;

    .btn {
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      color: $menu-blue;
      font-size: 26px;
      font-weight: normal;

      &:hover {
        color: darken($menu-blue, 25%)
      }
    }
  }

  &__image {
    width: 60px;
    height: 60px;

    &_img {
      width: 100%;
      object-fit: cover;
    }
  }

  .remove-all-product {
    justify-self: flex-end;
    align-self: start;
  }
}


@media screen and (max-width: 1200px) {
  .product-card {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 60px 135px auto auto 36px;

    &__name {
      grid-column: 2/5;
    }

    &__quantity {
      grid-column: 2;
      max-width: 135px;
    }

    &__price {
      grid-column: 3/6;
    }

    .remove-all-product {
      grid-row: 1;
      grid-column: 5;
      align-self: start;
      justify-self: flex-end;
    }
  }
}