@import '../index';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 1366px;
  margin: auto;
  z-index: 2;
  background: white;
  padding: 20px 50px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    // flex-wrap: wrap;
  }
}